<div class= "content">
    <div class="background">
        <div layout-padding style="margin-left: 20px; margin-right: 20px">
            <md-toolbar class="md-warn md-hue-2">
                <div class="md-toolbar-tools">
                    <h2>Retirement Road Welcomes You</h2>
                        <span flex></span>
                    <md-button class="md-icon-button test-tooltip" aria-label="Refresh">
                            <md-tooltip md-direction="left">Refresh</md-tooltip>
                </div>
            </md-toolbar>
                 <md-content>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Prepare Yourself</span>
                            </md-card-title-text>
                        </md-card-title> 
                            <img src="/assets/images/hackRR.svg"class="center">
                    </md-card>
                    <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-warn md-hue-2" ng-href="#!/profile">Options</md-button>
                            <md-button class="md-warn md-hue-2" ng-href="#!/profile">Help</md-button>
                            <md-button class="md-warn md-hue-2" ng-href="#!/profile">Play</md-button>
                    </md-card-actions>
                </md-content>          
        </div>
    </div>
</div>
                    
    
   
   




 
