<md-dialog aria-label="You Lost Your Job!">
  <form ng-cloak>
    <!--<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Mango (Fruit)</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>-->

    <md-dialog-content>
      <div id = "eventContainer">
       <div id = "eventTitle"><h1>Job Loss</h1></div>
      <div id = "eventCost"><h2>Cost: $10,000</h2></div>
      <div id = "eventImage"><img src="/Assets/images/jobloss.jpg"></div>
      <div id = "eventDescription">You lost your job. You'll have to come up with the money from somewhere else.</div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <div id="eventOptions" layout="row" layout-align="space-around center" class="ng-scope layout-row layout-align-space-around-center">
      <md-button ng-click="answer('not useful'); cancel()">
       Pull from Retirement
      </md-button>
      <md-button ng-click="answer('useful'); cancel()">
        Increase Debt
      </md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>