.odometer{
    font-size: 100px;
}

#bottomBanner{
    background: #ddd ; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ddd, #999 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ddd, #999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ddd, #999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ddd, #999); /* Standard syntax */
    box-shadow: 0 1px 3px 3px rgba(0,0,0,0.2);
    position:fixed;
   left:0px;
   bottom:0px;
   height:12vh;
   width:100%;
}

#bottomBanner h2 {
    margin: 2px;
    text-align: center;
}

#age, #retirement, #checking, #debt{
    font-size:2.5vw;
}

.odometer-digit:nth-last-child(2){
    color:black !important;
    background-color:white !important;
    background-image: -webkit-linear-gradient(top, #eee0d3 0%, #eee0d3 40%, #bbaa9a 60%, #eee0d3 80%, #eee0d3 100%) !important;
}

#pullOverButtonContainer{
    margin-top: 2%;
}

#pullOverButton{
   
   background-color: #0071CE ;
    font-size:1.2vw;
    padding:.5vw;
    border-radius:8px;
    
}

#pauseButton{
    padding-right: 8px;
}
