.odometer{
    font-size: 100px;
}

#bottomBanner{
    background-color: grey;
    position:fixed;
   left:0px;
   bottom:0px;
   height:15vh;
   width:100%;
}

#age, #retirement, #checking, #debt{
    font-size:3vw;
}

#ageContainer, #debtContainer, #checkingContainer, #retirementContainer h2{
    color:white;
    text-align: center;
    background-color: grey;
}

