<div id="bottomBanner" layout="row" layout-align="space-around center" class="ng-scope layout-row layout-align-space-around-center">


    <div id="ageContainer">
        <h2>Age:</h2>
        <span id="age" odometer="'85'"></span>
    </div>

    <div id="checkingContainer">
        <h2>Checking:</h2>
        <span id="checking" odometer="'111111110'"></span>
    </div>

    <div id="retirementContainer">
        <h2>Retirement:</h2>
        <span id="retirement" odometer="'111111102'"></span>
    </div>

    <div id="debtContainer">
        <h2>Debt:</h2>
        <span id="debt" odometer="'1331112'"></span>
    </div>
</div>