<div id = "wholeMap" layout="row" layout-align="space-around center" ng-controller="mapCtrl">
    <div>
        <md-card layout-align="center">
            <md-card-title >
                
                <md-card-title-text>
                <span class="md-headline">Financial Details</span>
                </md-card-title-text>
                </md-card-title> 

            <md-card-content>
                <div><span>Total Savings</span></div>
                <h3>{{data.savings | currency}}</h3>
                <div><span>Total Debt</span></div>
                <h3>{{data.debt | currency}}</h3>
                <div><span>Retirement Balance</span></div>
                <h3>{{data.retirementBalance | currency}}</h3>
            </md-card-content>
        </md-card>
        <md-card layout-align="center">
            <md-card-title >
                
                <md-card-title-text>
                <span class="md-headline">Financial Adjustments</span>
                </md-card-title-text>
                </md-card-title> 

            <md-card-content>
                <div><span>Retirement Contribution (Percentage of Salary)</span></div>
                <md-slider-container>
                    <md-slider md-discrete ng-model="data.retirementPercentage" step="1" min="0"  max="15"  aria-label="regular slider" class="md-warn md-hue-2"></md-slider>
                    <md-input-container>
                        <input flex type="number" ng-model="data.retirementPercentage">
                    </md-input-container>
                </md-slider-container>
                <div><span>Additional Debt Payment (Above the Minimum)</span></div>
                <md-slider-container>
                    <md-slider ng-model="data.additionDebtPayment" step="1" min="0"  max="1000"  aria-label="regular slider" class="md-warn md-hue-2"></md-slider>
                    <md-input-container>
                        <input flex type="number" ng-model="data.additionDebtPayment">
                    </md-input-container>
                </md-slider-container>
            </md-card-content>
        </md-card>
    </div>
    <div>
        <md-card layout-align="center">
        <md-card-title >
            
            <md-card-title-text>
            <span class="md-headline">Progess Indicator</span>
            </md-card-title-text>
            </md-card-title> 

        <md-card-content>
            <div class="map"><img src="{{stages[data.stage-1]}}"></div>
        </md-card-content>
    </md-card>
    </div>
    <md-button class="continue-btn md-accent md-raised md-button md-ink-ripple" ng-click="ok()">
       Ok
      </md-button>
</div>