.background-pic{
    background-image: url("/assets/images/road.svg");
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
}

.content{
    padding: 50px 10%;
    height: 100vh;
    background-color: rgb(33, 134, 73);
}