.background-pic{
    background-image: url("/assets/images/road.svg");
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
}

body.md-default-theme, body, html.md-default-theme, html{
    background-color: rgb(33, 134, 73);
}


.content{
    padding: 50px 10%;

}