
<div class="content background-pic">
  
      <md-card layout-align="center">
        <md-card-title >
            
          <md-card-title-text>
            <span class="md-headline">Create Your Profile</span>
            <span class="md-subhead">Where do you see yourself in Retirement? </span>
          </md-card-title-text>
            </md-card-title> 

            <md-card-content>
                <label>Age:  </label>
             <md-input-container >
                <md-radio-group layout="row" layout-align="space-between" layng-model="x">
                         <md-radio-button  ng-repeat="x in age" ng-value="x" class="md-warn md-hue-2">{{ x}}</md-radio-button>
                    </md-radio-group>
            </md-input-container>

    <md-slider-container>
      <div>
        <span>Income:</span>
      </div>
      <md-slider ng-model="invert" step="1000" min="20000"  max="500000"  aria-label="regular slider" class="md-warn md-hue-2"></md-slider>
    </md-slider-container>
    <md-input-container>
        <input flex ng-model="invert" aria-label="regular-slider">
      </md-input-container>

 <md-slider-container>
      <div>
        <span>Debt:</span>
      </div>
      <md-slider ng-model="invert2" step="1000" min="20000"  max="500000"  aria-label="regular slider" class="md-warn md-hue-2"></md-slider>
    </md-slider-container>
    <md-input-container>
        <input flex ng-model="invert2" aria-label="regular-slider">
      </md-input-container>

            </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-warn md-hue-2" ng-href="#!/game">Go</md-button>
        </md-card-actions>
      </md-card>
 
</div>























